@media all and (max-width:1110px)
{
	/* ============ HEADER ============= */

	/* header - trai */
	.header-left{ width: 20%; }
	.myname { margin-top: 20px; }

	/* header phai */
	.header-right{ width: 80%; }

	/* ============ MAIN ============= */

	/* ============ FOOTER ============= */
}

@media all and (max-width:965px)
{
	/* ============ HEADER ============= */

	/* ============ MAIN ============= */

	/* ============ FOOTER ============= */
}

@media all and (max-width:852px)
{
	/* ============ HEADER ============= */
	
	.danhsach{ width: 60%; }
	.danhsach { margin-left: 10%; margin-right: 30%;}
	.danhsach li { margin-bottom: 10px; }
	.danhsach li:first-child { padding-top: 18px; }
	.myname { display: none; }

	/* ============ MAIN ============= */

	/* ============ FOOTER ============= */
}


@media all and (max-width:550px)
{
	/* ============ HEADER ============= */
	.header{ height: 100px; width: 100%;}
	.main{ top: 100px; }
	.danhsach li:last-child { margin-left: 5%; }
	.danhsach { margin: 0; margin-left: 10%; }

}

@media all and (max-width:320px){
	.header{ height: 120px; width: 100%;}
	.main{ top: 120px; }
	.header-left{ display: none; }

}