@media all and (max-width:1110px)
{
	/* ============ HEADER ============= */

	/* header - trai */
	.header-left{ width: 20%; }
	.myname { margin-top: 20px; }

	/* header phai */
	.header-right{ width: 80%; }

	/* ============ MAIN ============= */
	.content { height: 120px;}
	.thoigian-left{ height: 100px;}

				/* page four */
	.wrap-main4 { padding: 0 2%; }	
	.contact { width: 20%; }
	.cmt{ width: 80%; }
	.fb_ltr { width: 600px!important;}		
	/* ============ FOOTER ============= */
}

@media all and (max-width:965px)
{
	/* ============ HEADER ============= */

	/* ============ MAIN ============= */
			/* page - two */
			/* page - three */			
	.content { height: 130px;}		
	.thoigian-left{ height: 110px;}	
	.img { width: 250px; padding-top: 100px;}
	.contact { width: 30%; }
	.cmt{ width: 70%; }
	.fb_ltr { width: 500px!important;}	
	/* ============ FOOTER ============= */
}

@media all and (max-width:852px)
{
	/* ============ HEADER ============= */
	
	.danhsach{ width: 60%; }
	.danhsach { margin-left: 10%; margin-right: 30%;}
	.danhsach li { margin-bottom: 10px; }
	.danhsach li:first-child { padding-top: 18px; }
	.myname { display: none; }

	/* ============ MAIN ============= */
				/* page - two */
	.kinangmem { width: 47%; padding: 0 2%; }
	.skills { width: 40%; float: left; padding: 0px 3%; }
				/* page - three */
	.content { height: 120px;}
	.img-center{ display: none; }
	.exp{ width: 50%; }
	.edu{ width: 50%; }
				/* page - four */	
	.contact { width: 33%; }
	.cmt{ width: 67%; }
	.fb_ltr { width: 400px!important;}	
	/* ============ FOOTER ============= */
}

@media all and (max-width:680px){
	/* ============ HEADER ============= */

	/* ============ MAIN ============= */
				/* page - two */
	.kinangmem { width: 70%; padding: 0 15%; }
	.main2 { height: 430px; }
	.skills { width: 70%; padding: 0 15%; }
				/* page - three */
	.exp { width: 70%; margin: 0 15%; }
	.content { height: 100px; }
	.thoigian-left{ height: 85px;}
	.edu { width: 70%; margin: 0 15%; padding-top: 410px;}
	
			/* page - four */
	.contact{ width: 80%; padding: 0 10%; }
	.cmt{ width: 80%; padding: 0 10%; }
	/* ============ FOOTER ============= */
	.sothich ul #hobby-li span{ width: 50px; }
	.sothich ul #hobby-li span:last-child{ margin-left: -10px; }
}

@media all and (max-width:550px)
{
	/* ============ HEADER ============= */
	.header{ height: 100px; width: 100%;}
	.main{ top: 100px; }
	.danhsach li:last-child { margin-left: 5%; }
	.danhsach { margin: 0; margin-left: 10%; }

	/* ============ MAIN ============= */
			/* page - two */

			/* page - three */	
	.content { height: 100px;}
	.exp{ width: 98%;  margin: 0 1%; }
	.edu{ width: 98%; margin: 0 1%; }
	.exp-edu{ font-size: 19px; }
	.edu { padding-top: 410px; }
			/* page - four */
	.cmt{ width: 100%; }
	/* ============ FOOTER ============= */
	.sothich ul #hobby-li span{ width: 40px; }
	.sothich ul #hobby-li span:last-child{ margin-left: -5px; }
}


@media all and (max-width:460px){
	.kinangmem { width: 90%; padding: 0 5%; }
	.skills { width: 90%; padding: 0 5%; }
	.content { height: 120px;}
	.thoigian-left{ height: 100px;}
	.edu { padding-top: 470px; }
	.cmt{ width: 100%; }
	.fb_ltr { width: 300px!important; margin: 0; padding: 0;}
}	


@media all and (max-width:385px){
	.header{ height: 120px; width: 100%;}
	.main{ top: 120px; }
	.header-left{ display: none; }

	/* ============ MAIN ============= */
	.main2 { height: 550px; }
	.code { margin-bottom: 20px; }
	.content { height: 170px;}
	.edu { padding-top: 630px; }
			/* page - four */
	.contact{ width: 90%; padding: 0 5%; }	
	/* ============ FOOTER ============= */

}